<body style="background-image: url(images/background4.jpg);">
<br>
<br>
<form method="post" action="addqustion.php" ><big><big>QUESTION SUBMISSION :<br>
  <br>
  </big></big>
  <table width:="50%">
    <tbody>
      <tr>
        <td>QUESTION FROM CHAPTER 1 : <br>
        </td>
        <td><input name="bill_no" type="text"><br>
        </td>
      </tr>
      <tr>
        <td>QUESTION FROM CHAPTER 2: <br>
        </td>
        <td><input name="test_charge" type="text"><br>
        </td>
      </tr>
	  <tr>
        <td>QUESTION FROM CHAPTER 3: <br>
        </td>
        <td><input name="service_charge" type="text"><br>
        </td>
      </tr>
      

      <tr>
        <td>QUESTION FROM CHAPTER 4 : <br>
        </td>
        <td><input name="doctor_charge" type="text"><br>
        </td>
      </tr>
	  
      <tr>
        <td>QUESTION FROM CHAPTER 5: <br>
        </td>
        <td><input  name="room_charge" type="text"> </td>
      </tr>
		<tr>
        <td>QUESTION FROM CHAPTER 6: <br>
        </td>
        <td><input  name="admin_id" type="text"> </td>
      </tr>
	  <tr>
        <td> QUESTION FROM CHAPTER 7 <br>
        </td>
        <td><input  name="protein" type="text"> </td>
      </tr>
	  
      <tr>
    </tbody>
  </table>
  <br>
  <br>
  <input name="submit" value="ADD" type="submit">&nbsp; &nbsp; <input name="reset" value="RESET" type="reset"> <big><big><br>
  </big></big></form>
